<div class="container">
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true">
    
      <div class="signup">
        <form [formGroup]="myForm" (ngSubmit)="saveUsuario()">
          <label for="chk" aria-hidden="true">Sign up</label>
          <input type="email" formControlName="email" placeholder="Email" required>
          <input type="password" formControlName="contrasena" placeholder="Password" required>
          <div *ngIf="myForm.get('contrasena')?.errors && myForm.get('contrasena')?.dirty" class="error-message">
            <div *ngIf="myForm.get('contrasena')?.errors?.hasOwnProperty('minlength')" class="error-message-item">
                <span>La contraseña debe tener al menos 8 caracteres.</span>
              </div>
            <div *ngIf="!containsUpperCase(myForm.get('contrasena')?.value)" class="error-message-item">
                <span>La contraseña debe contener al menos una letra mayúscula.</span>
            </div>
            <div *ngIf="!containsLowerCase(myForm.get('contrasena')?.value)" class="error-message-item">
                <span>La contraseña debe contener al menos una letra minúscula.</span>
            </div>
            <div *ngIf="!containsSpecialCharacter(myForm.get('contrasena')?.value)" class="error-message-item">
                <span>La contraseña debe contener al menos un carácter especial (@#$%^&+=!).</span>
            </div>
          </div>
          <button type="submit">Sign up</button>
        </form>
      </div>
    </div>
</div>
